
{% extends 'base.html.twig' %}

{% block title %}Admin - Liste des produits{% endblock %}

{% block body %}
{% include '/partials/flash.html.twig'%}
    <h1>Gestion des produits</h1>
    {{form_start(formCreate)}}
    <div class="container d-flex">
        {{form_row(formCreate.image, {'label': 'Image du produit'})}}
        {{form_row(formCreate.name, {'label': 'Nom du produit'})}}
        {{form_row(formCreate.price, {'label': 'Prix'})}}
        {{form_row(formCreate.stockXS, {'label': 'Stock XS'})}}
        {{form_row(formCreate.stockS, {'label': 'Stock S'})}}
        {{form_row(formCreate.stockM, {'label': 'Stock M'})}}
        {{form_row(formCreate.stockL, {'label': 'Stock L'})}}
        {{form_row(formCreate.stockXL, {'label': 'Stock XL'})}}

        <button type="submit" class="btn btn-primary">Ajouter</button>
    </div>
    {{form_end(formCreate)}}

    <br>
    <div class="container">
        {% for product in products %}
        {{form_start(formsProduct[product.id])}}
        <div class="container d-flex">
            {{form_row(formsProduct[product.id].image, {'label': 'Image du produit'})}}
            {{form_row(formsProduct[product.id].name, {'label': 'Nom du produit'})}}
            {{form_row(formsProduct[product.id].price, {'label': 'Prix'})}}
            {{form_row(formsProduct[product.id].stockXS, {'label': 'Stock XS'})}}
            {{form_row(formsProduct[product.id].stockS, {'label': 'Stock S'})}}
            {{form_row(formsProduct[product.id].stockM, {'label': 'Stock M'})}}
            {{form_row(formsProduct[product.id].stockL, {'label': 'Stock L'})}}
            {{form_row(formsProduct[product.id].stockXL, {'label': 'Stock XL'})}}
    
        </div>
        <button type="submit" class="btn btn-primary">Modifier</button>

        {{form_end(formsProduct[product.id])}}
        {% endfor %}
    </div>
{% endblock %}